<!DOCTYPE html>

<html lang='en' ng-app='comedyApp'>

  <head>
    <title>JokeStar</title>

    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>

    <script src='/javascripts/angular.js'></script>
    <script src='/javascripts/angular-resource.js'></script>
    <script src='/javascripts/angular-ui-router.js'></script>
    <script src='/javascripts/app.js'></script>
  </head>

    <body>

    <nav role='navigation' class="navbar navbar-default navbar-fixed-top" ng-controller='NavCtrl'>
      <div class='navbar-header'>
        <h1><a href='#' class='navbar-brand'>JokeStar<small> Is this a Joke?</small></a></h1>
      </div>
      <div class='container'>
      <ul class='nav navbar-nav navbar-right'>
        <li class="text-uppercase" ng-show='isLoggedIn()'><a>{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      </ul>
      </div>

    </nav>

      <ui-view></ui-view>

      <script type='text/ng-template' id='/login.html'>

        <div ng-show="error" class="alert alert-danger row">
          <span>{{ error.message }}</span>
        </div>

        <form ng-submit='logIn()' style='margin-top:30px;'>
          <h3>Log In</h3>
          <div class='form-group'>
            <input type='text' class='form-control' placeholder='Username' ng-model='user.username'>
          </div>
          <div class='form-group'>
            <input type='password' class='form-control' placeholder='Password' ng-model='user.password'>
          </div>
          <button type='submit' class='btn btn-primary'>Log In</button>
        </form>

      </script>

      <script type='text/ng-template' id='/register.html'>

        <div ng-show="error" class="alert alert-danger row">
          <span>{{ error.message }}</span>
        </div>

        <form ng-submit='register()' style='margin-top:30px;'>
          <h3>Register</h3>
          <div class='form-group'>
            <input type='text' class='form-control' placeholder='Username' ng-model='user.username'>
          </div>
          <div class='form-group'>
            <input type='password' class='form-control' placeholder='Password' ng-model='user.password'>
          </div>
          <button type='submit' class='btn btn-primary'>Register</button>
        </form>

      </script>

      <script type='text/ng-template' id='/home.html'>

        <div class='alert alert-success' role='alert'>RANDOM JOKE: {{ randomJoke.text }}</div>

        <div class='container-fluid'>

        <div class='row'>

        <div class='col-xs-2'>Some advertising here</div>

        <div class='col-xs-7'>

        <form ng-submit='addJoke()'>
          <div class="form-group">
            <input type='text' class='form-control' placeholder='Post a new Joke' ng-model='text'>
            <button type='submit' class='btn btn-primary'>Post</button>
          </div>
        </form>

        <div ng-repeat='joke in jokes' class='panel panel-info'>

          <div class='panel-heading text-uppercase'>
            <img src="https://avatars2.githubusercontent.com/u/9081382?v=3&s=40" class="img-thumbnail">
            {{ joke.user.username || joke.username }}
          </div>
          <div class='panel-body'>
            <img src="http://www.mariowiki.com/images/thumb/f/f5/StarMK8.png/200px-StarMK8.png" class="img-thumbnail">
            {{ joke.text }} - {{ joke.stars }} - {{ joke.score }} - {{ averageStars(joke) }}
          </div>
          <div class='panel-footer'>

            <div class="btn-group">
              <button ng-click='addStarsTo(joke, 1)' type="button" class="btn btn-primary">1</button>
              <button ng-click='addStarsTo(joke, 2)' type="button" class="btn btn-primary">2</button>
              <button ng-click='addStarsTo(joke, 3)' type="button" class="btn btn-primary">3</button>
              <button ng-click='addStarsTo(joke, 4)' type='button' class='btn btn-primary'>4</button>
              <button ng-click='addStarsTo(joke, 5)' type='button' class='btn btn-primary'>5</button>
            </div>

          </div>

        </div>

        </div>

        <div class='col-xs-3'>
          <table class="table table-hover">
            <tr>
              <th>Ranking</th>
              <th>Username</th>
              <th>Points</th>
            </tr>
            <tr ng-repeat='user in users'>
              <td>{{ $index + 1 }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.score }}</td>
            </tr>
          </table>
        </div>


        </div>
        </div>

      </script>

    </body>
</html>
