extends layout

block content

  nav(role='navigation' class='navbar navbar-default navbar-static-top')
    div(class='navbar-header')
      a(href='#' class='navbar-brand') Comedy App

  form(method='post' action='/signin')
    label(for='username') Username:
    input(type='text', name='username', value=username)
    label(for='password') Password:
    input(type='text', name='password', value=password)
    input(type='submit', value='Sign In')

  div(class='alert alert-success' role='alert') {{randomJoke}}

  div(class='row')
    div(class='col-sm-6 col-md-4')
      div(class='thumbnail')
        div(class='caption')
          h3 The Cutting Edge
          h4 Tue - 8:00pm
          h5 £14/£9 Concession
          p Ian Stone, Jarred Christmas, Scott Capurro, Ben Norris, Imran Yusuf, Rob Deering.  Doors open from 6.30pm - Happy Hour at the bar 6.30pm - 7.30pm.

    div(class='col-sm-6 col-md-4')
      div(class='thumbnail')
        div(class='caption')
          h3 Comedy Store Players
          h4 Wed - 8:00pm
          h5 £17/£12 Concession
          p Josie Lawrence, Neil Mullarkey, Richard Vranch, Phelim McDermott, Pippa Evans, Mike McShane. Doors open from 6.30pm - Happy Hour at the bar 6.30pm - 7.30pm.

    div(class='col-sm-6 col-md-4')
      div(class='thumbnail')
        div(class='caption')
          h3 The Best In Stand Up
          h4 Thu - 8:00pm
          h5 £18/£13 Concession
          p MC Ben Norris, Addy Van Der Borgh, Glenn Wool, Jeff Innocent, Ian Stone plus open spots. Doors open from 6.30pm - Happy Hour at the bar 6.30pm - 7.30pm.