<!DOCTYPE html>

<html lang='en' ng-app='comedyApp'>

  <head>
    <title>JokeStar</title>

    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>

    <script src='/javascripts/angular.js'></script>
    <script src='/javascripts/angular-resource.js'></script>
    <script src='/javascripts/angular-ui-router.js'></script>
    <script src='/javascripts/app.js'></script>
  </head>

    <body>

      <nav role='navigation' class='navbar navbar-default pull-right' ng-controller='NavCtrl'>  
        <div class='navbar-header'>
          <a href='#' class='navbar-brand'>JokeStar</a>
          <ul class='nav navbar-nav'>
            <li ng-show='isLoggedIn()'><a>{{ currentUser() }}</a></li>
            <li ng-show="isLoggedIn()"><a ng-click="logOut()">Log Out</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
          </ul>
        </div>
      </nav>

      <ui-view></ui-view>

      <script type='text/ng-template' id='/login.html'>

        <div ng-show="error" class="alert alert-danger row">
          <span>{{ error.message }}</span>
        </div>

        <form ng-submit='logIn()' style='margin-top:30px;'>
          <h3>Log In</h3>
          <div class='form-group'>
            <input type='text' class='form-control' placeholder='Username' ng-model='user.username'>
          </div>
          <div class='form-group'>
            <input type='password' class='form-control' placeholder='Password' ng-model='user.password'>
          </div>
          <button type='submit' class='btn btn-primary'>Log In</button>
        </form>

      </script>

      <script type='text/ng-template' id='/register.html'>

        <div ng-show="error" class="alert alert-danger row">
          <span>{{ error.message }}</span>
        </div>

        <form ng-submit='register()' style='margin-top:30px;'>
          <h3>Register</h3>
          <div class='form-group'>
            <input type='text' class='form-control' placeholder='Username' ng-model='user.username'>
          </div>
          <div class='form-group'>
            <input type='password' class='form-control' placeholder='Password' ng-model='user.password'>
          </div>
          <button type='submit' class='btn btn-primary'>Register</button>
        </form>

      </script>

      <script type='text/ng-template' id='/home.html'>

        <div class='alert alert-success' role='alert'>{{ randomJoke.text }}</div>

        <form ng-submit='addJoke()'>
          <input type='text' class='form-control' placeholder='Post a new Joke' ng-model='text'>
          <button type='submit' class='btn btn-primary'>Post</button>
        </form>

        <div ng-repeat='joke in jokes' class='panel panel-info'>

          <div class='panel-heading'>{{ joke.user.username || joke.username }}</div>
          <div class='panel-body'>{{ joke.text }} - {{ joke.stars }} - {{ joke.score }}</div>
          <div class='panel-footer'>

            <div class="btn-group">
              <button ng-click='addStarsTo(joke, 1)' type="button" class="btn btn-primary">1</button>
              <button ng-click='addStarsTo(joke, 2)' type="button" class="btn btn-primary">2</button>
              <button ng-click='addStarsTo(joke, 3)' type="button" class="btn btn-primary">3</button>
              <button ng-click='addStarsTo(joke, 4)' type='button' class='btn btn-primary'>4</button>
              <button ng-click='addStarsTo(joke, 5)' type='button' class='btn btn-primary'>5</button>
            </div>

          </div>

        </div>

      </script>

    </body>
</html>
