doctype html
html(ng-app='comedyApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/angular.js')
    script(src='/javascripts/angular-resource.js')
    script(src='/javascripts/app.js')
  body(ng-controller='comedyController')
    block content
    